<!DOCTYPE html>
<html>
<head>
    <title>Random Sorter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/RandomSorter/css/RandomSorter.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.js"></script>

    <script src="/RandomSorter/js/SortController.js"></script>
    <script src="/RandomSorter/js/SortResultService.js"></script>
</head>
<body>
<div class="generic-container" ng-app="RandomSorter" ng-controller="SortController">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Array sorting </span></div>
        <div class="formcontainer">
            <form ng-submit="onSort()" name="myForm" class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="array">Enter an array:</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="sort.array" ng-pattern="/^(-?(\d+\.?\d*),)*(-?(\d+\.?\d*),?)$/" id="array" name="array" class="form-control input-sm" placeholder="Enter array of numbers" required />
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.array.$error.pattern">Please enter an array of doubles, separated by comma. Integer part must present!</span>
                                <span ng-show="myForm.array.$error.required">This is a required field</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"  value="Sort" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="clear()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default" >
        <div class="panel-heading"><span class="lead">List of previous results: </span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Sorted array</th>
                    <th>Amount of position changes</th>
                    <th>Time estimated, ns</th>
                    <!--<th width="20%"></th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sr in sort.result">
                    <td><span ng-bind="sr.id"></span></td>
                    <td><span ng-bind="sr.sortedArray"></span></td>
                    <td><span ng-bind="sr.changesOfPositionsCount"></span></td>
                    <td><span ng-bind="sr.nanosecondsEstimated"></span></td>
                   <!-- <td>
                        <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Remove</button>
                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>